<div class="container">
  <div class="page-header">
    <h3>Books and articles that we have to read</h3>
	  <% if current_user.present? %>
	    <h3> You can add books <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Book</button> </h3>

  <% end %>
  </div>
  <div class="row grid-divider">
    <div class="col-sm-3">
      <h3>Javascript</h3>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Author</th>
            <th>link</th>
          </tr>
          </thead>
            <%= render 'readings/layouts/js_reading', data: @reading.javascript %>
        </table>
      </div>
    </div>
    <div class="col-sm-3">
      <h3>Databases</h3>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Author</th>
            <th>link</th>
          </tr>
          </thead>
            <%= render 'readings/layouts/databases', data: @reading.databases %>
        </table>
      </div>
    </div>
    <div class="col-sm-3">
      <h3>IT</h3>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Author</th>
            <th>link</th>
          </tr>
          </thead>
            <%= render 'readings/layouts/databases', data: @reading.it %>
        </table>
      </div>
    </div>
    <div class="col-sm-3">
      <h3>English</h3>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Author</th>
            <th>link</th>
          </tr>
          </thead>
          <%= render 'readings/layouts/english_reading', data: @reading.english %>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Adding book</h4>
        </div>
        <div class="modal-body">
          <%= form_for(Reading.new ) do |f| %>
            <div class="form-group">
              <%= f.text_field :author, class: 'form-control', placeholder: 'Author', required: true %>
            </div>
            <div class="form-group">
              <%= f.text_field :content, class: 'form-control', placeholder: 'Content', required: true %>
            </div>
            <div class="form-group">
              <%= f.select(:theme, ['Javascript', 'IT', 'Databases', 'English'], {}, class: 'form-control') %>
            </div>
            <%= f.submit "Add Book", id: 'login-submit', class: 'form-control btn btn-login' %>
	        <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>