<!DOCTYPE html>
<html>
<head>
  <title>Study</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/header' %>
<% if notice.present? %>
<p class="notice">
<div class="alert alert-success">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> <%= notice %>
</div>
</p>
<% elsif alert.present? %>
  <p class="alert">
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Error!</strong> <%= alert %>
  </div>
  </p>
<% end %>

<%= yield %>

</body>

</html>
